<!DOCTYPE html>
<html lang="en">
    <%-include("components/head", {title})%>
    <body>
        <%-include("components/nav")%>
        <main>
            <%-include("components/breadcrumbs", {breadcrumbs}) %>

            <div class="category__container">
                <div class="container">
                    <div class="category__wrapper">
                        <h2 class="title"><%=title%></h2>
                        <div class="category__content">
                            <div class="category__filter ">
                                <div class="price-slider-container category__item">
                                    <p class="title">Գին</p>
                                    <ul class="items__content">
                                        <li class="price-labels">
                                            <span><b id="min-price"><%=prices.min.toLocaleString("en-US") %></b> ֏</span>
                                            <span><b id="max-price"><%=prices.max.toLocaleString('en-US') %></b> ֏</span>
                                        </li>
                                        <li class="slider__container">
                                            <div class="slider-track"></div>
                                            <input type="range" id="min-slider" min="<%=prices.min %>" max="<%=prices.max %>" value="<%=prices.min %>" step="1000">
                                            <input type="range" id="max-slider" min="<%=prices.min %>" max="<%=prices.max %>" value="<%=prices.max %>" step="1000">
                                        </li>
                                    </ul>
                                    
                                </div>
                                <%-include("components/filterItem", { params })%>
                            </div>
                            <ul class="category__items"></ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="notification__container flex-column" id="notificationContainer"></div>
            
        </main>

        <script src="/js/cart.js" type="module"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
