<!DOCTYPE html>
<html lang="en">
    <%-include("components/head", {title})%>
    <body>
        <%-include("components/nav")%>
        <main>

            <div class="category__container">
                <div class="container">
                    <div class="category__wrapper">
                        <h2 class="title"><%=title%></h2>
                        <div class="category__content">
                            <div class="category__filter ">
                                <div class="price-slider-container category__item">
                                    <div class="price-labels">
                                        <span><b id="min-price"><%=prices.min.toLocaleString('en-US') %></b> ֏</span>
                                        <span><b id="max-price"><%=prices.max.toLocaleString('en-US') %></b> ֏</span>
                                    </div>
                                    <div class="slider__container">
                                        <div class="slider-track"></div>
                                        <input type="range" id="min-slider" min="<%=prices.min %>" max="<%=prices.max %>" value="<%=prices.min %>" step="1000">
                                        <input type="range" id="max-slider" min="<%=prices.min %>" max="<%=prices.max %>" value="<%=prices.max %>" step="1000">
                                    </div>
                                </div>

                                <ul class="items__content">
                                    <% brands.forEach((item) => { %>
                                        <li class="category__brand"
                                            data-filter
                                            data-key="searchData_brand"
                                            data-value="<%= item %>">

                                            <label class="category__brand--item">
                                                <input hidden
                                                    type="checkbox"
                                                    value="<%= item %>"
                                                    id="brand-<%= encodeURIComponent(item) %>">

                                                <%= item %>
                                            </label>

                                        </li>
                                    <% }) %>
                                </ul>

                            <% otherParams.forEach((item) => { %>
                                <div class="category__item">
                                    <p class="title"><%=item.title %></p>
                                    <ul class="items__content">
                                        <% item.values.forEach((value) => { %>
                                            <li class="category__brand"
                                                data-filter
                                                data-key="searchData_<%= item.title %>"
                                                data-value="<%= value %>">
                                                <label class="category__brand--item">
                                                    <input hidden type="checkbox" class="brand-filter" value="<%= value %>" id="filter-<%= encodeURIComponent(value) %>">
                                                    <%= value %>
                                                </label>
                                            </li>
                                        <% })%>
                                    </ul>
                                </div>
                            <% }) %>
                                
                            </div>
                            <ul class="category__items"></ul>

                        </div>
                    </div>
                </div>
            </div>
            
        </main>

    <script src="/js/script.js"></script>

    </body>
</html>
